<div class="wrapper">
  <div class="logo">
    <img src="https://www.freepnglogos.com/uploads/twitter-logo-png/twitter-bird-symbols-png-logo-0.png" alt="">
  </div>
  <div class="text-center mt-4 name">
    Twitter
  </div>
  <form class="p-3 mt-3" [formGroup]="formLogin">
    <div class="form-field d-flex align-items-center">
      <span class="far fa-user"></span>
      <input type="text" formControlName="username" name="username" id="username" placeholder="Username">
    </div>
    <div class="form-field d-flex align-items-center">
      <span class="fas fa-key"></span>
      <input type="password" name="password" id="pwd" formControlName="password" placeholder="Password">
    </div>
    <button [disabled]="formLogin.invalid" (click)="login()" class="btn mt-3">Login</button>
  </form>
  <div class="text-center fs-6">
    <a href="#">Forget password?</a> or <a href="#">Sign up</a>
  </div>
</div>
<pre>{{ formLogin.value | json }}</pre>
