<div class="wrapper">
  <div class="logo">
    <img src="https://logowik.com/content/uploads/images/youtube-shorts5863.jpg" alt="">
  </div>
  <div class="text-center mt-4 name">
    Youtube short
  </div>
  <div class="text-center">
    <span class="ms-2 ng-validate" *ngIf="checkValidate">
      * Sai thông tin đăng nhập
    </span>
  </div>
  <form class="p-3" [formGroup]="formLogin">
    <div class="form-field d-flex align-items-center">
      <span class="far fa-user"></span>
      <input type="text" formControlName="username" name="username" id="username" placeholder="Username">
    </div>
    <span class="ms-2 ng-validate" *ngIf="formLogin.get('username')?.hasError('required') && formLogin.get('username')?.touched">
      * username ko được để trống
    </span>
    <span class="ms-2 ng-validate" *ngIf="formLogin.get('username')?.hasError('minlength') && formLogin.get('username')?.touched">
      * username cần có ít nhất 3 giá trị
    </span>
    <span class="ms-2 ng-validate" *ngIf="formLogin.get('username')?.hasError('maxlength') && formLogin.get('username')?.touched">
      * username có nhiều nhất 15 giá trị
    </span>
    <div class="form-field d-flex align-items-center">
      <span class="fas fa-key"></span>
      <input type="password" name="password" id="pwd" formControlName="password" placeholder="Password">
    </div>
    <span class="ms-2 ng-validate" *ngIf="formLogin.get('password')?.hasError('required') && formLogin.get('password')?.touched">
      * password ko được để trống
    </span>
    <span class="ms-2 ng-validate" *ngIf="formLogin.get('password')?.hasError('minlength') && formLogin.get('password')?.touched">
      * password cần có ít nhất 3 giá trị
    </span>
    <span class="ms-2 ng-validate" *ngIf="formLogin.get('password')?.hasError('maxlength') && formLogin.get('password')?.touched">
      * password có nhiều nhất 15 giá trị
    </span>
    <button [disabled]="formLogin.invalid" (click)="login()" class="btn mt-3">Login</button>
  </form>
  <div class="text-center fs-6">
    <a href="#">Forget password?</a> or <a href="#">Sign up</a>
  </div>
</div>