/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";


* {
    border-radius: 5px;
  }

  body {
    background: radial-gradient(#f70303, transparent);
  }

  .app-content {
    position: absolute;
    left: 226px;
    top: 80px;
    z-index: -1;
    width: -webkit-fill-available;
  }

  body.thumb {
    transform: scale(0.4);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
  }

  main {
    min-height: 80vh;
  }

  [class*='container'] {
    border: 1px dashed #eee;
    background-clip: content-box;
  }

  .row [class*='col'] {
    /* background-color: #efefef; */
    background-clip: content-box;
  }

  .nav-item {
    /*background-color: #eeeeff;*/
    /*background-clip: content-box;*/
  }

  .ng-validate {
    color: red;
    font-size: 13px;
  }

  /* src/app/app.component.css */
.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

.blur {
  filter: blur(5px); /* Điều chỉnh giá trị px để thay đổi mức độ mờ */
  /* pointer-events: none; Vô hiệu hóa các sự kiện chuột trên phần bị mờ */
}

.spinner-custom {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1000; /* Đảm bảo overlay hiển thị phía trên mọi thứ */
}
